name: Deploy Blog

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    uses: raolivei/github-workflows/.github/workflows/static-site-pages.yml@1-implement-reusable-workflows
    with:
      node-version: "20"
      build-command: "npm run build"
      output-directory: ".vitepress/dist"
